---
import en from '../../i18n/en/index';
import { DateUtils } from '../../screens/DateUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{en.date.title} - {en.date.subtitle} – {en.home.title}</title>
    <meta name="description" content={en.date.shortDescription}>
  </head>

  <body>
    <DateUtils client:visible />
  </body>
</html>