---
import { DateUtils } from '../../screens/DateUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>Date Format Converter - Transform Your Dates Instantly – UtilityHub</title>
    <meta name="description" content="Easily convert date formats.">
  </head>

  <body>
    <DateUtils client:visible />
  </body>
</html>