---
import en from '../../i18n/en/index';
import { i18n } from '../../i18n/i18n';
import { EncodingUtils } from '../../screens/EncodingUtils';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{i18n(en.encoding.title)} - {i18n(en.encoding.subtitle)} – {i18n(en.home.title)}</title>
    <meta name="description" content={i18n(en.encoding.shortDescription)}>
  </head>

  <body class="bg-gradient-to-tr from-60% from-white to-accent">
    <EncodingUtils client:visible />
  </body>
</html>