---
import en from '../../i18n/en';
import { i18n } from '../../i18n/i18n';
import { FractionUtils } from '../../screens/FractionUtils';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{i18n(en.fractions.title)} – {i18n(en.fractions.subtitle)} – {i18n(en.home.title)}</title>
    <meta name="description" content={i18n(en.fractions.shortDescription)}>
  </head>

  <body>
    <FractionUtils client:visible />
  </body>
</html>