---
import en from '../../i18n/en';
import { FractionUtils } from '../../screens/FractionUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{en.fractions.title} – {en.fractions.subtitle} – {en.home.title}</title>
    <meta name="description" content={en.fractions.shortDescription}>
  </head>

  <body>
    <FractionUtils client:visible />
  </body>
</html>