---
import { FractionUtils } from '../../screens/FractionUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>Fraction utilities – Convert Numbers to Fractions & Fractions to Numbers – UtilityHub</title>
    <meta name="description" content="Quickly convert numbers to fractions and fractions to numbers.">
  </head>

  <body>
    <FractionUtils client:visible />
  </body>
</html>