---
import { ListUtils } from './ListUtils.jsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>List utils – UtilityHub</title>
  </head>

  <body>
    <ListUtils client:visible />
  </body>
</html>