---
import Head from '../../templates/head.astro';
import { ListUtils } from './ListUtils.jsx';
---

<html lang="en">
  <head>
    <Head />
    <title>List utilities – UtilityHub</title>
  </head>

  <body>
    <ListUtils client:visible />
  </body>
</html>