---
import en from '../../i18n/en';
import { ListUtils } from '../../screens/ListUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{en.list.title} – {en.list.subtitle} – {en.home.title}</title>
    <meta name="description" content={en.list.shortDescription} />
  </head>

  <body>
    <ListUtils client:visible />
  </body>
</html>