---
import { ListUtils } from '../../screens/ListUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>List utilities – Manipulate lists with a click on a button – UtilityHub</title>
    <meta name="description" content="Think of this like your handy toolbox for lists! You can tidy up your lists by sorting them alphabetically, mix
    things up with a randomizer, or even filter out duplicate lines to keep things unique and tidy." />
  </head>

  <body>
    <ListUtils client:visible />
  </body>
</html>