---
import Head from '../../templates/head.astro';
import { StringUtils } from './StringUtils.jsx';
---

<html lang="en">
  <head>
    <Head />
    <title>Text utilities – UtilityHub</title>
  </head>

  <body>
    <StringUtils client:visible />
  </body>
</html>