---
import en from '../../i18n/en';
import { i18n } from '../../i18n/i18n';
import { StringUtils } from '../../screens/StringUtils';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{i18n(en.text.title)} – {i18n(en.text.subtitle)} – {i18n(en.home.title)}</title>
    <meta name="description" content={i18n(en.text.shortDescription)}>
  </head>

  <body>
    <StringUtils client:visible />
  </body>
</html>