---
import en from '../../i18n/en';
import { StringUtils } from '../../screens/StringUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{en.text.title} – {en.text.subtitle} – {en.home.title}</title>
    <meta name="description" content={en.text.shortDescription}>
  </head>

  <body>
    <StringUtils client:visible />
  </body>
</html>