---
import { StringUtils } from '../../screens/StringUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>Text utilities – UtilityHub</title>
    <meta name="description" content="Time to play with your words! Whether you want to SHOUT OUT your text in uppercase, bring it down to a whisper in lowercase, or perform other fun text tricks like swapping cases or capitalizing the first letter of each word, this page has got you covered.">
  </head>

  <body>
    <StringUtils client:visible />
  </body>
</html>../../screens/StringUtils.js