---
import { StringUtils } from '../../screens/StringUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>Unit utilities – UtilityHub</title>
    <meta name="description" content="Tired of scratching your head over converting units? Say goodbye to confusion! This page lets you effortlessly switch between different units, like turning chilly Celsius into toasty Fahrenheit, so you're never left in the cold.">
  </head>

  <body>
    <StringUtils client:visible />
  </body>
</html>../../screens/StringUtils.js