---
import en from '../../i18n/en';
import { i18n } from '../../i18n/i18n';
import { UnitUtils } from '../../screens/UnitUtils.jsx';
import Head from '../../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{i18n(en.units.title)} – {i18n(en.units.subtitle)} – {i18n(en.home.title)}</title>
    <meta name="description" content={i18n(en.units.shortDescription)}>
  </head>

  <body>
    <UnitUtils client:visible />
  </body>
</html>