---
import { Home } from '../screens/Home.tsx';
import Head from '../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>UtilityHub</title>
    <meta name="description" content="Welcome to UtilityHub, your premier online destination for a vast array of digital utilities designed to enhance efficiency and streamline your workflow.">
  </head>

  <body>
    <Home client:visible />
  </body>
</html>../screens/Home.tsx