---
import Head from '../templates/head.astro';
import { Home } from './Home.tsx';
---

<html lang="en">
  <head>
    <Head />
    <title>UtilityHub</title>
  </head>

  <body>
    <Home client:visible />
  </body>
</html>