---
import en from '../i18n/en';
import { Home } from '../screens/Home.tsx';
import Head from '../templates/head.astro';
---

<html lang="en">
  <head>
    <Head />
    <title>{en.home.title}</title>
    <meta name="description" content={en.home.shortDescription}>
  </head>

  <body>
    <Home client:visible />
  </body>
</html>